<form method="post" action="/nerds">
  <input type="text" name="name" value="Zeb" />
  <input type="text" name="title" value="Professor of Fibonaccization" />
  <button type="submit">Take off!</button>
</form>