<form method="post" action="/cargo">
  <input type="text" name="title" value="item" />
  <input type="text" name="description" value="description" />
  <button type="submit">Take off!</button>
</form>